<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://115.239.250.46:9001/iosWeb/TitanProject.ipa</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.egivesoft.giantlift</string>
          <key>bundle-version</key>
          <string>1.00.0000</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>巨龙电梯APP</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>